.picks-until-user-turn {
    background-color: var(--orange);
    height: 100%;
    font-size: 13px;
    color: white;
    padding: 12px 30px 12px 30px;
    line-height: 1.1;
    text-align: center;
    min-width: 230px;
}

.picks-header ul {
    height: 100%;
    display: flex;
    gap: 3px;
    overflow: auto;
    overflow-y: hidden;
}

.picks-header ul li {
    background-color: var(--orange);
    height: 100%;
    font-size: 13px;
    color: white;
    padding: 0px 10px 0px 10px;
    line-height: 2.1;
    text-align: center;
    box-shadow: -3px 3px 6px rgba(0, 0, 0, .3);
    min-width: 100px;
}